.collapsible-header {
    background-color: inherit;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible-header:focus {
    border: none;
    outline: none;
    border-bottom:2px solid transparent;
    color: #FFFFFF;
}

.collapsible-header .all-collapse-text {
    width: 100%;

}

.collapsible-header .all-collapse-text, .collapsible-header .all-collapse-text .main-title {
    float: left;
}

/*
USE THE '.collapsed' CLASS TO CHANGE ANY PROPERTIES OF THE '.collapsible-header' WHEN COLLAPSED
.collapsed {

}
*/

/*
CHANGE BACKGROUND COLOUR WHEN COLLAPSED
.collapsed, .collapsible-header:hover {
    background-color: #555;
}*/

.collapsible-header .all-collapse-text .collapse-icon {
    float: right;
}

.collapsible-body {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}