/* THE NEWSLETTER */
form {
    margin-bottom: 5px;
    margin-left: 2px;
}

fieldset {
    border: 0;
}

legend {
    padding: 5px;
    padding-left: 0px;
}

#submit {
    border: 0px;
    background-color: #379683;
    padding: 2px;
    margin-top: 5px;
}

#submit:focus {
    background-color: #40c2a8;
}

input {
    color: black;
}

textarea {
    color: black;
    resize: none;
    width: 90%;
    height: 100px;
}