* {
    box-sizing: border-box;
    font-family: verdana, arial, sans-serif;
    color: #EDF5E1;
    padding: 0px;
    margin: 0px;
    text-align: justify;
}

html {
    background-color: #1f2235;
    scroll-behavior: smooth;
}

#wrapper, #grouped-socials {
    width:90%;
    margin: auto;
    padding:2%;
    background-color: inherit;
    overflow: hidden;
    /*margin-top:25px;*/
}

.section {
    padding-top: 70px;
}

#grouped-socials {
    margin-top: 0px;
    padding-top: 0%;
}

/* STYLE OF CONTENT */
.row {
    margin: auto;
    overflow: auto;
    border-radius: 50px;
    margin-bottom: 2%;
    justify-content: center;
}

.half-col {
    width:50%;
    float:left;
    padding:2%;
}

.third-col {
    background-color: inherit;
    justify-content: center;

    width:33.33%;
    float:left;
    padding:2%;
}

.col {
    width: 100%;
    padding:2%;
}

.col1 {
    width:30%;
    float:left;
    padding:2%;
}

.col2 {
    width: 70%;
    float: left; 
    padding:2%; 
}

#nav-bar {
    position:fixed;
    top: 0%;
    width: inherit;
    background-color: inherit;
    z-index: 1;
    border-radius: 0px;
    margin-top: 0px;
}

#nav {
    justify-content: right;
}


#nav a {
    margin-left: 50px;
    float: left;
    text-align: center;
    border:2px solid transparent;
}

#nav a:hover {
    transition: 0.5s ease;
    text-decoration: none;
    border-bottom: 2px solid #0496FF;
    transition: 0.5s ease;
} 

/*
#nav-title {
    position: relative;
    right: 0px;
}*/

.media-link, .media-link:hover {
    padding: 1rem;
    color: aliceblue;
    background-color: #313552;
    border: 2px solid #0496ff;
    border-radius: 0.5rem;
    width: 300px;
    float: left;
    margin: auto;
}

.media-link:hover {
    background-color: #0496ff;
    text-decoration: none;
    transition: 0.5s ease;
}

#socials {
    background-color: #313552;
    margin-bottom: 5%;
}

table {
    width: 80%;
    margin: auto;
}


.level {
    padding-top: 10px;
}

.outer-title {
    display: flex;
    align-items: center;
}

.inner-title {
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 1150px) {
    #wrapper {
        width: 100%;
    }
    
    .col1, .col2, .half-col, .third-col {
        clear:both;
        width:100%;
        border: 0px;
    }

    .outer-title {
        justify-content: center;
    }

    #nav-title {
        width: 30%;
    }

    #nav {
        width: 70%;
    }

    .media-link {
        margin: 0;
        position: relative;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    #profile-col {
        width: 60%;
    }
}

@media screen and (max-width: 980px) {
    #nav, #nav-title {
        width: 100%;
        text-align: center;
    }

    #nav {
        display: flex;
        justify-content: center;
    }

    #nav a {
        margin: auto;
    }

    .section {
        padding-top: 120px;
    }

}

@media screen and (min-width: 1250px) {
    #wrapper {
        width: 1125px;
    }
}

@media screen and (min-width: 1450px) {
    #grouped-socials {
        width: 1305px;
    }
}

/* RESIZING THE PAGE WITH MOBILE VIEW BEING LARGE PAGE VIEW*/
/*
@media screen and (max-width: 750px) {
    #wrapper {
        width: 100%;
    }
    
    .col1, .col2, .half-col, .third-col {
        clear:both;
        width:100%;
        border: 0px;
    }

    .outer-title {
        justify-content: center;
    }
}

@media screen and (max-width: 360px) {
    #wrapper {
        width: 350px;
    }
    
    .col1, .col2, .half-col, .third-col {
        clear:both;
        width:100%;
        border: 0px;
    }

    #nav a {
        margin-left: 10px;
    }
}

@media screen and (max-width: 1150px) {
    .third-col {
        clear:both;
        width:100%;
        border: 0px;
        justify-content: center;
    }

    .media-link {
        margin: 0;
        position: relative;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}*/