* {
    box-sizing: border-box;
    font-family: verdana, arial, sans-serif;
    color: #EDF5E1;
    padding: 0px;
    margin: 0px;
    text-align: justify;
}

html {
    background-color: #1f2235;
    scroll-behavior: smooth;
}

#background {
    overflow: hidden;
    background-color: #1f2235;
}

#wrapper, #grouped-socials {
    width:90%;
    margin: auto;
    padding:2%;
    background-color: inherit;
    overflow: hidden;
    /*margin-top:25px;*/
}

#about {
    background-color: #313552;
    border-radius: 50px;
    margin: auto;
}

#tech-skills-logos {
    display: block;
    margin: auto;
    width: 70%;
}

#qualifications-list {
    font-size: 1.1rem;
    margin: auto;
    padding: 20px;
    width: fit-content;
    list-style-position:outside;
}

.hidden-link {
    border-bottom:2px solid transparent;
    color: #FFFFFF;
}

.hidden-link:hover {
    transition: 0.5s ease;
    text-decoration: none;
    border-bottom: 2px solid #0496FF;
    color: #FFFFFFba;
}

#qualifications-list ul {
    padding-left: 25px;
}

.m-heading {
    font-family: "Roboto Slab", serif;
    font-size: 3rem;
}

.b-heading {
    color: #0496FF;
}

#intro, .place {
    margin: auto;
}

.about-text, .m-heading, .b-heading, #hello-intro, p, h4, h3 {
    text-align: center;
}

.section {
    padding-top: 70px;
}

.exp-title, .collapse-icon {
    font-size: 1.4rem;
}

#grouped-socials {
    margin-top: 0px;
    padding-top: 0%;
}

.icon {
    margin: auto;
    margin-left: 60%;
}

/* 
Seperate padding sizes is needed for each icon due to the length of the word it depends on.
This is just used for small adjustments, hence why margin isn't used.
 */
#email-icon {
    padding-left: 20px;
}

#github-icon {
    padding-left: 10px;
}

/* STYLE OF CONTENT */
.row {
    margin: auto;
    overflow: auto;
    border-radius: 50px;
    margin-bottom: 2%;
    justify-content: center;
}

.half-col {
    width:50%;
    float:left;
    padding:2%;
}

.third-col {
    background-color: inherit;
    justify-content: center;

    width:33.33%;
    float:left;
    padding:2%;
}

.col {
    width: 100%;
    padding:2%;
}

.col1 {
    width:30%;
    float:left;
    padding:2%;
}

.col2 {
    width: 70%;
    float: left; 
    padding:2%; 
}

#nav-bar {
    position:fixed;
    top: 0%;
    width: 100%;
    z-index: 1;
    border-radius: 0px;
    margin-top: 0px;
    height: 90px;
    background-color: inherit;
}

#nav {
    justify-content: right;
}


#nav a {
    margin-left: 50px;
    float: left;
    text-align: center;
    border:2px solid transparent;
}

#nav a:hover {
    transition: 0.5s ease;
    text-decoration: none;
    border-bottom: 2px solid #0496FF;
} 

/*
#nav-title {
    position: relative;
    right: 0px;
}*/

img {
    width: 100%;
    margin:auto;  
    border-radius: 25px;
}

.card {
    margin: 20px;
    width: 300px;
}

.card-text, .card-title {
    text-align: center;
    color: black;
}

.card-body {
    text-align: center;
    align-items: center;
}

.logo {
    width: 100px;
    display: block;
}

.logo-no-bg {
    border-radius: 0px;
}

.media-link, .media-link:hover {
    padding: 1rem;
    color: aliceblue;
    background-color: #313552;
    border: 2px solid #0496ff;
    border-radius: 0.5rem;
    width: 300px;
    float: left;
}

.media-link:hover {
    background-color: #0496ff;
    text-decoration: none;
    transition: 0.5s ease;
}

#socials {
    background-color: #313552;
    margin-bottom: 5%;
}

table {
    width: 80%;
    margin: auto;
}

td {
    padding-right: 10%;
}

.level {
    padding-top: 10px;
}

.center-horz {
    display: block;
    margin:auto;
}

@media screen and (max-width: 1150px) {
    #wrapper {
        width: 95%;
    }
    
    .col1, .col2, .half-col, .third-col {
        clear:both;
        width:100%;
        border: 0px;
    }

    .outer-title {
        justify-content: center;
    }

    #nav-title {
        width: 30%;
    }

    #nav {
        width: 70%;
    }

    .media-link {
        margin: 0;
        position: relative;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    #profile-col {
        width: 60%;
    }
}

@media screen and (max-width: 960px) {
    #nav, #nav-title {
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
    }

    #nav {
        display: flex;
        justify-content: center;
    }

    #nav a {
        margin: auto;
    }

    #nav-bar {
        padding-bottom: 100px;
    }

    .section {
        padding-top: 120px;
    }

    td, table .mark {
        padding-bottom: 5%;
    }

    #tech-skills-logos {
        display: block;
        margin: auto;
        width: 100%;
    }

}

@media screen and (max-width: 890px) {
    #nav-bar {
        padding-bottom: 0px;
    }
}

@media screen and (min-width: 1250px) {
    #wrapper {
        width: 1125px;
    }
}

@media screen and (min-width: 1450px) {
    #grouped-socials {
        width: 1305px;
    }
}

/* RESIZING THE PAGE WITH MOBILE VIEW BEING LARGE PAGE VIEW*/
/*
@media screen and (max-width: 750px) {
    #wrapper {
        width: 100%;
    }
    
    .col1, .col2, .half-col, .third-col {
        clear:both;
        width:100%;
        border: 0px;
    }

    .outer-title {
        justify-content: center;
    }
}

@media screen and (max-width: 360px) {
    #wrapper {
        width: 350px;
    }
    
    .col1, .col2, .half-col, .third-col {
        clear:both;
        width:100%;
        border: 0px;
    }

    #nav a {
        margin-left: 10px;
    }
}

@media screen and (max-width: 1150px) {
    .third-col {
        clear:both;
        width:100%;
        border: 0px;
        justify-content: center;
    }

    .media-link {
        margin: 0;
        position: relative;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}*/