/* The below 2 styles are to force the footer to the bottom of the page */

#page-wrapper {
  flex-grow: 1;
}

#wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Below class is used to provide spacing for the navbar when a section is navigated too */
.section {
  padding-top: 75px;
}