#page-wrapper {
  width:90%;
  margin: auto;
  /* background-color: inherit; */
  overflow: hidden;
  text-align: center;
}

.row {
  margin: auto;
  overflow: auto;
  margin-bottom: 2%;
  justify-content: center;
}

.half-col {
  width:50%;
  float:left;
  padding:2%;
  margin: auto;
}

@media screen and (max-width: 1150px) {  
  .half-col {
    clear:both;
    min-width: 100%;
    border: 0px;
    text-align: center;
  }
}

@media screen and (min-width: 1525px) {
  #page-wrapper {
    /* Needs to be 90% of the min width to prevent jarring transition when changing screen size*/
    width: calc(1525px * 0.9);
    /* width: 1525px; */
  }
}